@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'HarmonyOS Sans', 'Noto Sans SC', sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
} 